# Ignore specific directories in the Git repository

# JGit configuration directory
**/.config/jgit/

# Java fonts directory specific version
**/.java/fonts/17.0.10/

# Maven local repository
**/.m2/repository/

# Owner directory
**/.owner/

# Last started file
**/.lastStarted
