# Ignore specific directories in the Git repository

# JGit configuration directory
.config/

# Java fonts directory specific version
.java/

# Maven local repository
.m2/

# Owner directory
.owner

# Last started file
.lastStarted
